.bigt{
    background-color:   greenyellow;
}.main{
    color: crimson;
}
.second{
    background-color: black;
    color: white;
}
.lab{
    
    height: 200px;
    width: 200px;
    top: auto;




}




